
main{
    padding: 100px;
    display: flex;
}
main .content-max{
    display: flex;
    gap: 60px;
    width: 100%;
    padding: 0;
}
main .top img{
    width: 6% ;
    border-radius: 50%;
}
main .top{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
main .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
}
main .cards .card{
    background-color: rgb(32, 32, 53);
    border-radius: 20px;
    display: flex;
    align-items: center;
    min-height:120px;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 10px;
    color: rgb(107, 107, 138)  ;
    transition: all .3s ease;
}
main .cards .card img{
    width: 50px;
    height: 50px;
}
main .cards .card:hover{
    background-color: rgb(60, 60, 94);
}
main .back{
    display: flex;
    justify-content: start;
    width: 100%;
}
main .back a {
    border: 1px solid white;
    padding: 10px 35px;
    border-radius: 999px;
    text-decoration: none;
    transition: all .3s ease;
}
main .back a:hover{
    background-color: white;
    color: black;
}